.DS_Store
node_modules/
dist/
tempDir/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

config/global.json

# Editor directories and files
.idea
.vscode
.history
*.suo
*.ntvs*
*.njsproj
*.sln
*.code-workspace

.env
